{
  "BASE_URL": "http://192.168.1.135:80/lock-app",
  "LOCKER_ID": 2,
  "BUILDING_ID": 3,
  "TOKEN": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS1sb2NrZXIuaG9sZGluZy1sb2NrZXJzLmNvbS9hcGkvY3JlYXRlLXRva2VuIiwiaWF0IjoxNzgzMTMxMDMyLCJleHAiOjE5NDA4MTEwMzIsIm5iZiI6MTc4MzEzMTAzMiwianRpIjoiV29kYXhzVVY3bUF3enNJRyIsInN1YiI6IjIiLCJwcnYiOiJjZGEyYzkxYjI4ZWRjMmY1NjEzMDM4NzE2MTVjMmYyNzA4YWE1MTg4IiwibG9ja2VyX2lkIjoyLCJidWlsZGluZ19pZCI6MywibmFtZSI6IkxvY2tlciBvbmNlIiwiYWRkcmVzcyI6IkF2LiBzYW4gbWFydGluLCBjYWxsZSA5IEEiLCJ0eXBlX2xvY2tlcl9pZCI6MSwic3RhdGUiOjF9.9RjX6KtoXXbcpjQeL6x5tRlF9ftptARHBri9b29ZbmU",
  "URL_SOCKET_IO": "http://192.168.1.135:3000"
}
